.battle-logs-table th:first-child,
.battle-logs-table td:first-child {
  white-space: nowrap;
}

.battle-logs-table th,
.battle-logs-table td {
  white-space: nowrap;
}

.battle-logs-table td:last-child,
.battle-logs-table th:last-child {
  min-width: 200px;
}
