<h1>Create new monster</h1>

<mat-form-field>
  <mat-label>Monster name</mat-label>
  <input matInput placeholder="Enter monster name" [formControl]="nameControl" />
</mat-form-field>

<mat-form-field>
  <mat-label>Damage</mat-label>
  <input matInput type="number" placeholder="Enter monster damage" [formControl]="damageControl" />
</mat-form-field>

<mat-form-field>
  <mat-label>Defense</mat-label>
  <input matInput type="number" placeholder="Enter monster defense" [formControl]="defenseControl" />
</mat-form-field>

<button type="button" (click)="createMonster()">Create monster</button>

<div *ngIf="message()" class="message">
  {{ message() }}
</div>
